<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="favicon.ico" />
    <title>Project</title>    

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="<%=baseURL%>styles/custom.css" >

 
  </head>
  <body>
    
    <% include header %>


    <section class="section">
        <div class="container container-sm">
          <!-- <h4 class="welcome-title">Hi George! Here are some top questions for you...</h4> -->

          <div class="white-bg post-block box-shadow">
            <div class="display-flex v-center post-details">
              <div class="user-icon"><img src="<%=baseURL%>assets/images/girl.png"/></div>
              <div class="m-l-sm">
                <div class="user-name"><%= data.question.askedBy.firstname+" "+data.question.askedBy.lastname %></div>
                <div class="post-time"><%= data.question.datestring %></div>
              </div>
            </div>
            <h4 class="m-t-sm m-b-none"><a href="#"><%= data.question.questionHeading %></a></h4>
            <div class="question-tags m-t-xs">
              <span><%= data.question.subject %></span> <span><%= data.question.chapter.name %></span> <span><%= data.question.topic.name %></span>
            </div>
            <div class="post-content text-gray">
              <div id="post-content-inner">
              <%= data.question.questionDescription %>
              
             </div> 
              <div class="post-footer display-flex v-center">
                <ul class="display-flex v-center social-action-status">
                  <li><span><%= data.question.numAnswers %></span> Answers</li>
                  <li><span>50</span> Followers</li>
                  <li><span><%= data.question.views %></span> Views</li>
                </ul>
                <ul class="display-flex v-center align-right social-action">
                  <li><a href="javascript:void(0)" class="addAnswer"><img class="m-r-xs" src="<%=baseURL%>assets/images/edit.png"/> Answer</a></li>
                  <li>
                    <% if(user){ %>
                    <a href="javascript:void(0)"><img class="m-r-xs" src="<%=baseURL%>assets/images/follow.png" style="margin-right: 0px; margin-top: -2px;"> <span id="follow<%= data.question._id %>"  class="follow">Follow</span></a>
                    <% } 
                    else{ %>

                       <a href="auth/login"><img class="m-r-xs" src="<%=baseURL%>assets/images/follow.png" style="margin-right: 0px; margin-top: -2px;"> <span>Follow</span></a>
                    <%
                    }
                    %>
                  </li>
                  <li><a href="#"><img src="<%=baseURL%>assets/images/more.png"/></a></li>
                </ul>
              </div>
            </div>
            <button class="btn btn-question-collapse"><img class="tr3" src="<%=baseURL%>assets/images/arrow-up.png"/></button>
          </div>

            <%

    var heading = "";
    if(user){

      if(user.firstname)
        heading = user.firstname ;
      else
        heading = user.username ;
    }

  %>

          <div class="addAnswerSection post-block white-bg box-shadow">
            <div class="display-flex v-center post-details">
              <div class="user-icon"><img src="<%=baseURL%>assets/images/boy.png"/></div>
              <div class="m-l-sm">
                <div class="user-name"><%= heading %></div>
              </div>
              <div class="align-right text-gray hide-sm"></div>
            </div>
            <form method="post" id="frmAnswer" enctype="multipart/form-data">
              <input type="hidden" name="questionId" id="questionId" value="<%= data.question._id %>">
              <input type="hidden" name="givenBy" id="givenBy" value="<%= user._id %>"> 
                            <div class="m-t">
                <textarea class="form-control" id="answerEditor" name="answerEditor" rows="4" cols="1" placeholder="Add details"></textarea><br>
                <input type="file" multiple id="attachments" name="files">
              </div>
              <div class="m-t display-flex v-center">
                <div class="text-gray"></div>
                <div class="align-right">
                  <button onclick="discardAnswer()" class="btn btn-outline-dark btn-width-120">Discard</button>
                  <button class="btn btn-primary btn-width-120">Submit</button>
                </div>
              </div>
            </form>
          </div>
      <!-- answer list -->

       <% 
       if(data.answers.length){

       for(var i=0; i < data.answers.length; i++) { 
          

          %>
        <div class="white-bg post-block box-shadow">
            <div class="display-flex v-center post-details">
              <div class="user-icon"><img src="<%=baseURL%>assets/images/boy.png"/></div>
              <div class="m-l-sm">
                <div class="user-name"><%= data.answers[i].givenBy.firstname+" "+data.answers[i].givenBy.lastname %></div>
                <div class="post-time">3 hours ago</div>
              </div>
            </div>
            <div class="post-content">
              <div class="answer-text">
                <%= data.answers[i].answer %>
              </div>
              <div class="post-footer b-t display-flex v-center" style="padding-top: 10px;">
                <ul class="display-flex v-center social-action-status">
                  <li><span><%= data.answers[i].upvotes %></span> Upvotes</li>
                  <li><span>0</span> Views</li>
                </ul>
                <ul class="display-flex v-center social-action-status align-right">
                  <li class="align-right"><span>50</span> Shares</li>
                  <li class="option-btn"><a href="#"><img src="<%=baseURL%>assets/images/moregrey.png"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <% } } %>
          
          

        </div>
    </section>


    
     <% include footer %>
   <script type="text/javascript">
     var position = $(window).scrollTop(); 

// should start at 0

$(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if(scroll > 100) {
        console.log('scrollDown');
        $('#post-content-inner').slideUp();
        $('.sticky-top ').addClass( "hideEl" );
    } 

    position = scroll;
});
   </script>
